<IfModule mod_rewrite.c>
  RewriteEngine on
  
  # For user to configure: 
  # Default root inst should look like:
  # 	RewriteBase / 
  # Or you can just comment away the row with a # in front of it.
  
  RewriteBase /uppg8a
  
  # Don't touch below...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>